.section {
    display: flex;
    background: content-box radial-gradient(crimson, skyblue);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    /* background-image: url(https://lh3.googleusercontent.com/proxy/0oZ8vMNzgBS0Fzn7jJ_9WtwNhqY1UPbZOdG73wVfexLxqJLQB-ttNomlzk2AChkniSVYSpNAcLBUHq8VNVSTnPeV1hOjb-vZkgPhw86Utu2fCEI); */
    background-color: transparent;
    width: auto;
    height: fit-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.button {
  font-style: oblique;
  margin: 5px;
  font-size: 15px;
font-weight: bold;
color: transparent;
-webkit-background-clip: text;
background-clip: text;
background-image: linear-gradient(to left, rgb(255, 9, 255), rgb(255, 6, 6));
  }

  @-webkit-keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .button:hover {
    -webkit-animation: swing 0.6s ease;
    animation: swing 0.6s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
     -webkit-transform: scale(1.2);
     -ms-transform: scale(1.2);
     transform: scale(1.2);
  }
